name: Helm chart checks

on:
  create:
    tags:
      - "v*"
  push:
    branches:
      - "main"
  pull_request:


env:
  HELM_PLUGINS: ${{ github.workspace }}/.github/.bin/plugins

jobs:
  dependencies:
    name: Prepare Dependencies
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-go@v2
        with:
          go-version: "1.19"
      - name: Setup dependencies
        uses: ./.github/actions/setup

  check:
    name: Lint & Validate chart
    if: ${{ github.ref != 'ref/heads/master' }}
    needs:
      - dependencies
    runs-on: ubuntu-22.04
    env:
      SCHEMAS_URL: "https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Checkout dependencies
        uses: ./.github/actions/setup

      - name: Lint helm chart
        run: helm lint ./openfga/
      - name: Validate helm chart
        run: helm kubeval "./openfga/" --exit-on-error --strict --schema-location "${SCHEMAS_URL}" --force-color
