name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  dependencies:
    name: Prepare Dependencies
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - name: Setup dependencies
        uses: ./.github/actions/setup

  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs:
        - dependencies
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "AlexandreBrg Bot"
          git config user.email "alexandrebrg@users.noreply.github.com"

      - name: Update repositories
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami || true
          helm repo update

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.1
        with:
          charts_dir: .
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"